#no-mobile, #no-pc{
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(cadetblue,white,cadetblue);
    display: flex;
    top:0;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    font-weight: 600;
}
@media screen and (min-width: 572px){
    #no-mobile{
        display: none;
    }
}
@media screen and (max-width: 900px){
    #no-pc{
        display: none;
    }
}