/* photo name subtitles */
.user-component{
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted var(--gray);
}
.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}
#this-user{
    border: none;
}

.user-component__avatar{
    outline: 2px solid black;
    width:70px;
    height: 70px; 
    margin-right: 20px;
    border: 5px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff,#fff),
    linear-gradient( var(--nj-white) 0%, var(--nj-green) 100%);
    background-origin: border-box;
    background-clip: content-box,border-box;

}
.user-component__title{
    font-weight: 600;
    font-size: 22px;
    color: black;
}
.user-component__subtitle{
    margin-top: 8px;
    opacity: 0.9;
    font-size: 17px;
}

.user-component__avatar--xl{
    width:80px;
    height:80px;
}

.user-component__avatar--sm{
    width:60px;
    height:60px;
}
.user-component__title--not-bold{
    font-weight: 400;
}

.user-component__column:last-child{
    color:var(--gray);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time{
    margin-bottom: 10px;
    display: block;
}
